html {
    height: 100%;
    font-size: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: black;
    min-height: 100%;
}

.rooms-pane {
    position: fixed;
    bottom: 0;
    left: 0;
    top: 0;
    width: 350px;
    background-color: rgba(150, 150, 150, 0.5);
    padding: 10px 10px 10px 20px;
}

.messages-pane {
    position: fixed;
    bottom: 0;
    left: 350px;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0);
    padding: 10px 10px 10px 10px;
    float:left;
}

.main-title {
    width: 200px;
    float: left;
}

.active-room-title {

}

.new-room-button {
    margin-top: 20px;
    width: 100px;
    padding: 5px;
    float: left;
}

.room-list {
    list-style: none;
    color: gray;
    clear: both;
}

.input-button {
    margin-top: 15px;
}

.modal-content {
    width: 250px;
}

.modal-body {
    position: relative;
    padding: 15px;
    background: darkgrey;
}

.modal-header {
    font-weight: 900;
    background: lightgrey;
}

.button-nope {
    background: darkgray;
    color: black;
}

.button-yep {
    background: dimgray;
    color: white;
}
