<userModal></userModal>

<section class="rooms-pane">
    <div class="main-title">
        <h1>jabber</h1>
    </div>
    <div class="new-room-button">
        <button class="button-text" type="button" ng-click="home.open()">New room</button>
    </div>
    <div class="rooms-main" scroll-glue>
        <div class="room-list" ng-repeat="room in home.rooms" ng-click="home.setActiveRoom(room)">
            <div class="room-list-item">{{ room.$value }}</div>
        </div>
    </div>
</section>

<roomModal></roomModal>

<section class="welcome" ng-show="!home.activeRoom">
    <h2 class="welcome-message">Welcome to jabber!</h2>
</section>

<section class="messages-pane">
    <div class="messages-header" ng-show="home.activeRoom">
        <div class="title">
            <h3>{{ home.activeRoom }}</h3>
        </div>
    </div>
    <div class="messages-main" scroll-glue>
        <div class="messages-list" ng-repeat="message in home.messages">
            <div class="message-icon">
                <img class="user-thumbnail" src="/styles/images/Anonymous.jpg"/>
            </div>
            <div class="message-body">
                <p class="message-details">
                    <span style="font-size: 1rem; color: black;"><b>{{ message.username }}</b></span>
                    <span style="font-size: .8rem; color: gray;"><em> - {{ message.sentAt | date:"MM/dd/yyyy 'at' h:mma" }}</em></span>
                </p>
                <p class="message-content">{{ message.content }}</p>
            </div>
        </div>
    </div>
    <div class="new-message" ng-show="home.activeRoom">
        <textarea class="new-message-textbox" placeholder="Enter message here" ng-model="home.newMessage"
            ng-keypress="($event.charCode==13)? home.sendMessage($event) : return"></textarea>
        <button type="button" class="button-send" ng-click="home.sendMessage($event)">Send</button>
    </div>
</section>
