<userModal></userModal>

<section class="rooms-pane">
    <div class="main-title">
        <h1>Bloc Chat</h1>
    </div>
    <div class="new-room-button">
        <button class="button-text" type="button" ng-click="home.open()">New room</button>
    </div>
    <ul class="room-list" ng-repeat="room in home.rooms" ng-click="home.setActiveRoom(room)">
        <li>{{ room.$value }}</li>
    </ul>
</section>

<roomModal></roomModal>

<section class="messages-pane">
    <div class="title">
        <h3>{{ home.activeRoom }}</h3>
    </div>
    <ul class="messages-list" ng-repeat="message in home.messages">
        {{ message.content }}
        <ul class="messages-list"><em>posted by {{ message.username }} at {{ message.sentAt }}</em></ul>
    </ul>
</section>
