<userModal></userModal>

<section class="rooms-pane" scroll-glue>
    <div class="main-title">
        <h1>Bloc Chat</h1>
    </div>
    <div class="new-room-button">
        <button class="button-text" type="button" ng-click="home.open()">New room</button>
    </div>
    <div class="room-list" ng-repeat="room in home.rooms" ng-click="home.setActiveRoom(room)">
        <div class="room-list-item">{{ room.$value }}</div>
    </div>
</section>

<roomModal></roomModal>

<section class="welcome" ng-show="!home.activeRoom">
    <h2 class="welcome-message">Welcome to Bloc Chat!</h2>
</section>

<section class="messages-pane" ng-show="home.activeRoom" scroll-glue>
    <div class="title">
        <h3>{{ home.activeRoom }}</h3>
    </div>
    <div class="messages-list" ng-repeat="message in home.messages">
        <div class="message-icon">
            <img class="user-thumbnail" src="/styles/images/{{ message.username }}.jpg"/>
        </div>
        <div class="message-body">
            <p class="message-details"><b>{{ message.username }}</b><em>-{{ message.sentAt | date:"MM/dd/yyyy 'at' h:mma" }}</em></p>
            <p class="message-content">{{ message.content }}</p>

        </div>
    </div>
    <div class="new-message">
        <textarea class="new-message-textbox" placeholder="Enter message here" ng-model="home.newMessage"
            ng-keypress="($event.charCode==13)? home.sendMessageEnter() : return"></textarea>
        <button type="button" class="button-send" ng-click="home.sendMessageClick()">Send</button>
    </div>
</section>
